head
	title
		- wp_title( " | ", true, "right" );

	- if(is_home() || is_front_page()):
	| <meta name="description" content="<?php bloginfo( 'description' ); ?>">
	| <meta itemprop="description" content="<?php bloginfo( 'description' ); ?>">
	| <meta name="keywords" content="">
	- endif;

	| <link rel="shortcut icon" href="<?php echo get_template_directory_uri(); ?>/favicon.ico">
	| <link rel="stylesheet" href="<?php echo get_template_directory_uri(); ?>/assets/css/style.min.css">

	- wp_head();