doctype html
| <html lang="<?php language_attributes(); ?>">

include /_include/_head.jade

| <body id="top" <?php body_class(); ?>>

header
	h1 Example
	ul
		li: a(href="#") header link
		li: a(href="#") header link
		li: a(href="#") header link
		li: a(href="#") header link
