- get_header()

main(role="main")
	h2 最強のレスポンシブサイト
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe omnis temporibus optio quae, ex cum enim cumque reiciendis ipsa voluptate! Tempora repellendus dicta ullam amet sit. Earum eveniet hic esse.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe omnis temporibus optio quae, ex cum enim cumque reiciendis ipsa voluptate! Tempora repellendus dicta ullam amet sit. Earum eveniet hic esse.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe omnis temporibus optio quae, ex cum enim cumque reiciendis ipsa voluptate! Tempora repellendus dicta ullam amet sit. Earum eveniet hic esse.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe omnis temporibus optio quae, ex cum enim cumque reiciendis ipsa voluptate! Tempora repellendus dicta ullam amet sit. Earum eveniet hic esse.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe omnis temporibus optio quae, ex cum enim cumque reiciendis ipsa voluptate! Tempora repellendus dicta ullam amet sit. Earum eveniet hic esse.

- get_footer()
